.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__header {
  width: 260px;
  margin-bottom: 32px;
}

.about-us__list {
  @include list-reset;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}

.about-us__item {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  width: 260px;
  padding-top: 53px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: 30px;

  &--ecological {
    background-image: url("../img/icon-feature-flower.svg");
    background-position-x: 8px;
  }

  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 3px 2px;
  }

  &--scandinavian-style {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--homeland-manufacture {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position-y: 4px;
  }

  &--likes {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 7px 6px;
  }

  &--gift-packed {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 3px 2px;
  }

  &:nth-child(even) {
    @media (max-width: $tablet-width - 1px) {
      order: 1;
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-top: 50px;
    margin-bottom: 27px;
  }

  .about-us__header {
    width: 668px;
    margin-bottom: 50px;
  }

  .about-us__list {
    width: auto;
  }

  .about-us__item {
    width: 334px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding-top: 58px;
    margin-bottom: 35px;
  }

  .about-us__header {
    width: 700px;
  }

  .about-us__list {
    width: 700px;
  }

  .about-us__item {
    width: 350px;
  }
}
