.button {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: $paragraph-color;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $paragraph-color;
  padding: 20px 0;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $paragraph-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
