.catalog {
  display: flex;
  justify-content: center;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  width: 260px;

  @include list-reset;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    margin-right: -51px;
    width: 1050px;
  }
}
