.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $desktop-width) {
  .catalog__list {
    margin-right: -51px;
  }
}
