@media (max-width: $tablet-width - 1px) {
  .catalog {
    padding: 30px;
    padding-bottom: 0;
  }
}

.catalog__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 53px;
  }

  .catalog__list {
    padding-top: 80px;
    margin-bottom: -54px;
  }

  .catalog__item {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 57px;
  }

  .catalog__list {
    margin-right: -51px;
    padding-top: 127px;
  }

  .catalog__item {
    margin-right: 51px;
  }
}
