.container {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
}
