.developer {
  @include block-shadow-top;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0;
}

.developer__title {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 30px;
}

.developer__logo {
  vertical-align: bottom;
}

@media (min-width: $tablet-width) {
  .developer {
    justify-content: flex-end;
  }
}
