.developer {
  @include block-shadow-top;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 19px 0 24px;
}

.developer__title {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 30px;
}

.developer__logo {
  vertical-align: bottom;
  fill: #63d1bb;
}

.developer__link {
  &:hover .developer__logo,
  &:focus .developer__logo {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;

    + .developer__title {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .developer {
    justify-content: flex-start;
    box-shadow: none;
  }
}
