.item__card {
  width: 100%;
}

.item-card__picture img {
  vertical-align: bottom;
}

.item-card__content {
  border: 1px solid $border-color;
  border-top: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-card__header {
  margin-bottom: 20px;
}

.item-card__title {
  margin: 0;
  font-size: 17px;
  color: #000000;
  margin-bottom: 10px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.item-card__stats {
  font-size: 13px;
  line-height: 30px;
  color: $paragraph-color;
  margin: 0;
}

.item-card__buy {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;

  @include block-shadow-top;
}

.item-card__price {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.item-card__button {
  border: none;
  background: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .item-card {
    display: flex;
    width: 668px;
  }

  .item-card__picture {
    width: 334px;
    height: 334px;
    background-color: pink;
  }

  .item-card__content {
    width: 50%;
    border: 1px solid $border-color;
    border-left: none;
  }

  .item-card__title {
    font-size: 20px;
  }

  .item-card__stats {
    font-size: 15px;
  }

  .item-card__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .item-card {
    width: 316px;
    flex-direction: column;
  }

  .item-card__picture {
    width: 316px;
    height: 462px;
  }

  .item-card__content {
    width: 316px;
    flex-grow: 1;
    border: 1px solid $border-color;
    border-top: none;
  }
}
