.item__card {
  width: 100%;
}

.item-card__picture img {
  vertical-align: bottom;
}

.item-card__picture-link:hover + .item-card__content,
.item-card__picture-link:focus + .item-card__content {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.item-card__picture-link:active + .item-card__content {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.item-card__content {
  border: 1px solid $border-color;
  border-top: none;
  padding: 28px 30px 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-card__header {
  margin-bottom: 19px;
}

.item-card__title {
  margin: 0;
  font-size: 17px;
  color: #000000;
  margin-bottom: 4px;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.item-card__stats {
  font-size: 13px;
  line-height: 30px;
  color: $paragraph-color;
  margin: 0;
}

.item-card__buy {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;

  @include block-shadow-top;
}

.item-card__price {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.item-card__button {
  border: none;
  background: none;
  padding: 0;
  fill: $icon-color;
  cursor: pointer;
  outline: none;
  margin-right: -4px;

  &:hover,
  &:focus {
    fill: $marker-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .item-card {
    display: flex;
    width: 668px;
  }

  .item-card__picture {
    width: 334px;
    height: 334px;
    background-color: pink;
  }

  .item-card__content {
    width: 334px;
    border: 1px solid $border-color;
    border-left: none;
    flex-grow: 1;
    padding: 25px 27px 25px;
  }

  .item-card__title {
    font-size: 20px;
  }

  .item-card__stats {
    font-size: 15px;
  }

  .item-card__price {
    font-size: 17px;
    margin-left: 5px;
  }

  .item-card__button {
    margin-right: 4px;
  }
}

@media (min-width: $desktop-width) {
  .item-card {
    width: 316px;
    flex-direction: column;
  }

  .item-card__picture {
    width: 316px;
    height: 462px;
  }

  .item-card__content {
    width: 316px;
    border: 1px solid $border-color;
    border-top: none;
    padding-bottom: 24px;
  }

  .item-card__price {
    margin-left: 0;
  }
}
