.item-card {
  border: solid 1px $border-color;
  width: 260px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item-card__title {
  font-size: 17px;
  font-weight: 700;
}

.item-card__picture-link {
  display: block;
}

.item-card__picture {
  vertical-align: bottom;
}

.item-card__content {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-card__price-cart {
  @include block-shadow-top;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-card__link {
  color: inherit;
  text-decoration: none;
}

.item-card__stats {
  font-size: 13px;
  line-height: 30px;
  color: $paragraph-color;
}

.item-card__price {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .item-card {
    flex-direction: row;
    width: 668px;
  }

  .item-card__picture-link {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .item-card {
    width: 316px;
    flex-direction: column;
    margin-right: 51px;
  }

  .item-card__picture-link {
    width: 100%;
  }
}
