.modal-order {
  padding: 35px 30px 45px;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6;
}

.modal-order__title {
  text-transform: uppercase;
  text-align: center;
}

.modal-order__text {
  line-height: 2;
  color: $paragraph-color;
  text-align: center;
}

.modal-order__fieldset {
  border: none;
}

.modal-order__choose-button {
  font-size: 17px;
  font-weight: 700;
  line-height: 0.95;
}

.modal-order__submit {
  color: #ffffff;
  background-color: $marker-color;
  border: none;
}
