.page-footer {
  background-color: $page-second-bg-color;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 8px;
}

.page-footer__logo {
  display: none;

  a[href] {
    &:hover,
    &:focus {
      fill: $marker-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.page-footer__logo-image {
  vertical-align: bottom;
}

.page-footer__social {
  width: 260px;
}

.page-footer__developer {
  width: 182px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    padding: 33px 50px 43px;
  }

  .page-footer__logo {
    display: block;
    width: 200px;
  }

  .page-footer__developer {
    width: 200px;
  }
}
