.page-main__header {
  @include block-shadow-top;
  background-color: $page-second-bg-color;
  padding: 0 30px;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.page-main__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  width: 244px;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    margin-top: -24px;
  }

  .page-main__title {
    width: 494px;
  }
}
