.page-header {
  @include block-shadow-top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  max-width: 100%;
}

.page-header__delivery {
  display: none;
  margin: 0;
}

.page-header__logo {
  align-self: center;
  padding: 22px 0;

  &[href] {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.page-header__logo-image {
  vertical-align: bottom;
  margin: 0 auto;
}

.page-header__menu-toggle {
  position: absolute;
  top: 25px;
  right: 50px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 91%;
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header__logo-image {
    width: 112px;
    height: 46px;
  }

  .page-header__delivery {
    display: block;
    position: absolute;
    right: 6.5%;
    bottom: 0;
    z-index: 1;
  }

  .page-header__main-nav {
    order: 2;
    z-index: 1;
    min-width: 50%;
  }

  .page-header__user-nav {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    align-self: flex-start;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
    margin: 0 auto;
    margin-top: 9px;
  }

  .page-header__main-nav {
    order: -1;
    font-size: 17px;
    min-width: 0;
  }
}
