.page-footer {
  background-color: $page-second-bg-color;
  margin-bottom: -5px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-image {
  vertical-align: bottom;
}

.page-footer__social {
  width: 260px;
}

.page-footer__developer {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    padding: 33px 50px 28px;
  }

  .page-footer__logo {
    display: block;
    width: 200px;
  }

  .page-footer__developer {
    width: 200px;
  }
}
