.page-footer {
  background-color: $page-second-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-image {
  vertical-align: bottom;
}

.page-footer__social {
  width: 260px;
}

.page-footer__developer {
  width: 260px;
}

@media(min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
  }

  .page-footer__logo {
    display: block;
    width: 200px;
  }

  .page-footer__developer {
    width: 200px;
  }
}
