.products {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.products__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.products__item {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;

  &--interrior {
    background-color: #63d1bb;
    padding-bottom: 21px;

    .products__icon {
      margin-right: 10px;
    }
  }

  &--toys {
    background-color: #56c3b2;
    padding-bottom: 23px;
  }
}

.products__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  width: 260px;
  position: relative;

  .products__icon {
    fill: #149080;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    .products__icon {
      opacity: 0.7;
    }
  }

  &:active {
    .products__text {
      opacity: 0.3;
    }

    .products__icon {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .products {
    width: 668px;
  }

  .products__list {
    flex-direction: row;
  }

  .products__item {
    width: 334px;
    padding: 35px 36px;

    &--interrior {
      padding-bottom: 27px;
      padding-right: 36px;
      padding-top: 30px;
    }

    &--toys {
      padding-bottom: 28px;
      padding-right: 34px;
      padding-top: 31px;
    }
  }

  .products__link {
    width: 100%;

    .products__text {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .products {
    width: 1050px;
  }

  .products__list {
    width: 1050px;
  }

  .products__item {
    width: 525px;
  }
}
