.production {
  @media (max-width: $tablet-width - 1px) {
    padding: 0 30px 59px;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.production__header {
  padding: 24px 31px 24px;
  border: 1px solid $border-color;
  border-bottom: none;
}

.production__title {
  padding-left: 57px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.production__content {
  padding: 28px 34px 32px;
  border: 1px solid $border-color;
  border-top: none;
}

.production__video {
  position: relative;
}

.production__play {
  border: none;
  background: none;
  padding: 0;
  background-image: url("../img/icon-play.svg");
  background-size: cover;
  width: 101px;
  height: 77px;
  position: absolute;
  top: 50%;
  margin-top: -38px;
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__picture {
  vertical-align: bottom;
}

.production__text {
  font-size: 13px;
  color: $paragraph-color;
  margin: 0;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 63px;
  }

  .production__header {
    padding: 35px 40px 29px;
  }

  .production__title {
    background-position-y: -3px;
    padding: 4px 65px;
  }

  .production__content {
    padding: 0 42px 45px;
  }

  .production__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 33px;
  }

  .production__video {
    order: -1;
    border: 1px solid $border-color;
    border-bottom: none;
  }

  .production__picture {
    width: 668px;
    height: 455px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    flex-direction: row;
    margin-bottom: 105px;
  }

  .production__video {
    border: none;
  }

  .production__picture {
    width: 682px;
    height: 455px;
  }

  .production__header {
    position: absolute;
    width: 230px;
    top: 47px;
    right: 109px;
    border: none;
    padding: 0;
  }

  .production__title {
    padding: 0;
    padding-top: 49px;
  }

  .production__content {
    width: 368px;
    border: 1px solid $border-color;
    padding: 47px 56px 59px 78px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .production__text {
    margin-bottom: 46px;
  }
}
