.review__text {
  line-height: 30px;
  color: $paragraph-color;
  margin: 0;
  margin-bottom: 40px;
}

.review__author-name {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

.review__author-account {
  font-size: 17px;
  line-height: 30px;
  color: $paragraph-color;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .review__text {
    margin-bottom: 68px;
    width: 642px;
    font-size: 17px;
  }
}

@media (min-width: $tablet-width) {
  .review__text {
    margin-bottom: 49px;
    width: 768px;
  }
}
