.review__text {
  line-height: 30px;
  color: $paragraph-color;
  margin: 0;
}

.review__author {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

.review__author-account {
  font-size: 17px;
  line-height: 30px;
  color: $paragraph-color;
  margin: 0;
}
