.site-menu--closed {
  display: none;
}

.site-menu__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-menu__item {
  @include block-shadow-top;
  padding-left: 32px;

  &--secondary {
    display: none;
  }
}

.site-menu__link {
  @include nav-menu-link(17px);
  width: 260px;
  display: block;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 50px;

  &--icon {
    padding-left: 0;
  }
}

.site-menu__icon {
  margin-right: 25px;

  &--search {
    margin-right: 28px;
  }
}

.site-menu__toggle {
  width: 20px;
  height: 20px;
  border: 0;
  background: none;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  outline: none;
}

.site-menu--opened .site-menu__toggle {
  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -2px;
    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.site-menu--closed .site-menu__toggle {
  &::before {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    top: 3px;
    left: 0;
    background-color: black;
    box-shadow: 0 7px 0 black, 0 14px 0 black;
  }
}

.site-menu--nojs .site-menu__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-menu {
    width: 334px;
  }

  .site-menu__list {
    flex-direction: row;
  }

  .site-menu__item {
    box-shadow: none;
  }

  .site-menu__link {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .site-menu {
    width: 450px;
  }

  .site-menu__item {
    &--secondary {
      display: block;
      font-size: 15px;
    }
  }
}
