$font: "OpenSans", sans-serif;
$default-font-size: 15px;
$default-line-height: 24px;
$default-text-color: #000000;
$page-second-bg-color: #f1f1f1;
$border-color: #e5e5e5;
$paragraph-color: #444444;
$marker-color: #63d1bb;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$icon-color: #d3d2d2;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
