$font: "Open Sans", sans-serif;
$default-font-size: 15px;
$default-line-height: 24px;
$default-text-color: #000000;
$page-second-bg-color: #f1f1f1;
$border-color: #e5e5e5;
$paragraph-color: #444444;
$marker-color: #63d1bb;
